*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg-color{
    background-color:#24688f;
    color: white;
}
.bikerz-zone-lignt-red{
    background-color: rgba(255, 0, 0, 0.19);
}
.image-white img{
    filter: grayscale(100%);
  filter: grayscale(100%);
}
}
.user-name-color{
    color: #23A6F0;
}
.sgv-icon-size{
    width: 20px;
}
.user-2{
    height: 90px;
    width: 90px;
    border-radius: 45px;
}
.image-size{
    width: 200px;
}
